<div class="form-group">
<%= search_form_for @search do |f| %>
  <div class="field" style="color:#428bca;font-size:20px">
    <%= f.search_field :name_cont %>
    <%= f.submit "Search", src: "Search_logo.png", type: "image", width: 40, height: 40 %>
  </div>
<% end %>
<center
  <div class="table-responsive">
  <h1 style="color:#428bca">Departments</h1>
  <table class="table table-bordered form">
    <thead>
      <tr>
        <th height="50px" style="text-align:center">Department Id</th>
        <th height="50px" style="text-align:center">Department Name</th>
      </tr>
    </thead>
    <tbody>
    <% if @departments %>
      <% @departments.each do |dept| %>
        <tr>
          <td><%= dept.id %></td>
          <td><%= dept.name.titleize %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
 </div>
</center>
</div>
<div align="center">
    <%= paginate @departments%>
</div>
