<%=button_to root_path, method: :get do %>
  <img alt="Back" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRkeM4b1hBF7vuSZW_iLpA3zjiuA9ykIQ_OmGY1LmEu8VDiwq2L" width=40 height=30 border=0>
<% end %>
  <center><h1 style="color:#428bca;margin-top:-15px"> Profile </h1></center>
<div class= "form-horizontal">
  <h3>Designation : <b><%= @patient.role. titleize %></b></h3>
  <% unless current_user.role == "admin" %>
    <%=button_to  edit_user_registration_path, method: :get do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  <% end %>
  <center><h5>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= label_tag "Date of Birth : " %>
    </div>
    <div class="col-sm-3">
      <input type="text" value = "<%= @patient.dob %>" readonly size="35" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= label_tag "Gender : " %>
    </div>
    <div class="col-sm-3">
       <input type="text" value = "<%= @patient.gender %>" readonly size="35" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= label_tag "Address : " %>
    </div>
    <div class="col-sm-3">
      <textarea cols="35" readonly class="form-control"><%= @patient.address %></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= label_tag "Phone : " %>
    </div>
    <div class="col-sm-3">
      <input type="text" value = "<%= @patient.phone %>" readonly size="35" class="form-control"/>
    </div>
  </div>

</div>
</h5></center>
