<div class="form-group">
<% if @history.empty? %>
  <div class="form-group">
    <center><strong>No History as there is no completed appointment</strong></center>
  </div>
<% else %>
<center>
  <h1>Appointments History</h1>
  <table class="table table-bordered" >
    <thead>
      <tr>
      <% if current_user.role == "Patient" %>
        <th height="50">Department</th>
        <th height="50">Doctor </th>
      <% else %>
        <th height="50">Patient</th>
      <% end %>
        <th height="50">Time Slot</th>
        <th height="50">Treatment Completed Date</th>
        <th height="50">Symptoms</th>
        <th height="50">Medications</th>
        <th height="50">Status</th>
      </tr>
    </thead>
    <tbody>
    <% if @history %>
      <% @history.each do |app| %>
        <tr>
        <% if current_user.role == "Patient" %>
          <td><%= app.doctor.department.name %></td>
          <td><%= app.doctor.user.name %></td>
        <% else %>
          <td><%= app.user.name %></td>
        <% end %>
          <td><%= app.time_slots %></td>
          <td><%= app.app_date %></td>
          <td><%= app.symptoms %></td>
          <td><%= app.medications %></td>
          <td><%= app.status%>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</center>
<% end %>
</div>
<div align="center">
    <%= paginate @history%>
</div>
