<%=button_to 'Back', appointments_path, method: :get %>
<h1 align="center">Update Appointment</h1>
<%= form_for (@appointment),:html => {class: "form-horizontal", role: "form"} do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label " Symptoms : " %>
    <%= f.text_field :symptoms %>
  </div>

  <div class="form-group">
    <%= f.label " Medications : " %>
    <%= f.text_field :medications %>
  </div>

  <div class="form-group">
    <%= f.label " Next Appointment/Complete treatment date : " %>
    <%= select_tag 'days', options_for_select(days_dropdown2, :selected => @appointment.app_date.strftime('%b %d %Y %A')) %>
  </div>

  <center>
    <%= f.submit "Update", class: 'btn btn-primary btn-lg' %>
  </center>

<% end %>
