<%=button_to appointments_path, method: :get do %>
  <img alt="Back" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRkeM4b1hBF7vuSZW_iLpA3zjiuA9ykIQ_OmGY1LmEu8VDiwq2L" width=40 height=30 border=0>
<% end %>
<h1 align="center" style="color:#428bca;margin-top:20px">Update Appointment</h1><br>
<%= form_for (@appointment),:html => {class: "form-horizontal", role: "form"} do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control-label col-sm-4">
      <%= f.label "Symptoms : " %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :symptoms, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-4">
      <%= f.label "Medications : " %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :medications, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-4">
      <%= f.label "Next Appointment / Complete treatment date : " %>
    </div>
    <div class="col-sm-4">
      <%= select_tag 'days', options_for_select(days_dropdown2, :selected => @appointment.app_date.strftime('%b %d %Y %A')), {:class => 'form-control'} %>
    </div>
  </div>

  <center>
    <%= f.submit "Update", class: 'btn btn-primary btn-lg' %>
  </center>

<% end %>
