<%=button_to root_path, method: :get do %>
  <img alt="Back" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRkeM4b1hBF7vuSZW_iLpA3zjiuA9ykIQ_OmGY1LmEu8VDiwq2L" width=40 height=30 border=0>
<% end %>
<div class="form-group">
<% if @appointments.empty? %>
<center>
  <div class="form-group" style="height:400px; width:800px; color:#428bca">
      <h3><strong>No Appointment</strong></h3>
  </div>
</center>
<% else %>
<center>
  <h1 style="color:#428bca;margin-top:-15px">Pending Appointments </h1>
  <table  class="table table-bordered" >
    <thead>
      <tr>
      <% if current_user.role == "Patient" %>
        <th height="50">Department</th>
        <th height="50">Doctor </th>
      <% else %>
        <th height="50">Patient</th>
      <% end %>
        <th height="50">Time Slot</th>
        <th height="50">Date</th>
        <th height="50">Appointment Date</th>
        <th height="50">Symptoms</th>
        <th height="50">Medications</th>
        <th height="50">Status</th>
      <% if current_user.role == "Doctor" %>
        <th height="50">Action</th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |app| %>
      <%= form_tag('/appointment/status', method: 'post') do %>
        <tr>
        <% if current_user.role == "Patient" %>
          <td><%= app.doctor.department.name.titleize %></td>
          <td><%= app.doctor.user.name.titleize %></td>
        <% else %>
          <td><%= app.user.name.titleize %></td>
        <% end %>
          <td><%= app.time_slots %></td>
          <td><%= app.date %></td>
          <td><%= app.app_date %></td>
          <td><%= app.symptoms%></td>
          <td><%= app.medications%></td>
          <td><%= radio_button_tag :status, 'Pending', app.status == 'Pending' %>Pending
            <% if current_user.role == "Doctor" %>
              <%= radio_button_tag :status,'Reject', app.status == 'Reject'  %>Reject
            <% end %>
              <%= radio_button_tag :status,'Accept', app.status == 'Accept'  %>Accept
              <%= radio_button_tag :status, 'Follow Up', app.status == 'Follow Up'  %>Follow Up
            <% if current_user.role == "Patient" %>
            <td><%= link_to('Cancel', appointment_cancel_path(app.id), method: :get) %></td>
            <% end %>
            <% if current_user.role == "Doctor" %>
              <%= radio_button_tag :status, 'Completed',app.status == 'Completed' %>Completed
            <% end %>
          </td>
          <% if current_user.role == "Doctor" %>
            <input name="id" value="<%= app.id %>" type="hidden" />
            <td><input type="submit" value="Update Status" /></td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</center>
<% end %>
</div>
<div align="center">
    <%= paginate @appointments%>
</div>
