<center><h5>
<div class="form-group">
  <strong>Department :</strong>
  <input type="text" value = "<%= @appointment.doctor.department.name %>" readonly/>
</div>

<div class="form-group">
  <strong>Doctor :</strong>
  <input type="text" value = "<%= @appointment.doctor.user.name %>" readonly/>
</div>

<div class="form-group">
  <strong>Time Slot:</strong>
  <input type="text" value = "<%= @appointment.time_slots %>" readonly/>
</div>

<div class="form-group">
  <strong>Date:</strong>
  <input type="text" value = "<%= @appointment.date %>" readonly/>
</div>

<div class="form-group">
  <strong>Symptoms:</strong>
  <input type="text" value = "<%= @appointment.symptoms %>" readonly/>
</div>
</h5></center>
