<% if user_signed_in? %>
  <% if current_user.role == 'Doctor' %>
    <div class="form-control" style="height:80px ; color:#1247EE ; background-color:#DEB887 ">
      <img src = "hospital.jpeg" alt="" height="60" width="60" align="left" class="img-circle">
      <center><h2><label>Welcome <%= current_user.name %></label></h2></center>
    </div>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/doctors/<%=current_user.id %>">View Profile</a></li>
      <li role="presentation"><a href="/appointments">View Appointments</a></li>
      <li role="presentation"><a href="/appointments/history">Appointment history</a></li>
      <%= button_to('Logout', destroy_user_session_path, class: "btn btn-default navbar-btn navbar-right", :method => :delete) %>
    </ul>
   <% else current_user.role == 'Patient' %>
     <div class="form-control" style="height:80px ; color:#1247EE ; background-color:#DEB887 ">
       <img src = "hospital.jpeg" alt="" height="60" width="60" align="left" class="img-circle">
       <center><h2><label>Welcome <%= current_user.name %></label></h2></center>
     </div>
     <ul class="nav nav-tabs">
       <li role="presentation"><a href="/patients/<%= current_user.id %>">View Profile</a></li>
       <li role="presentation"><a href="/appointments/new">Take Appointments</a></li>
       <li role="presentation"><a href="/appointments">Check Appointment Status</a></li>
       <li role="presentation"><a href="/appointments/history">Appointment history</a></li>
       <li role="presentation"><a href="/map">Map</a></li>
       <%= button_to('Logout', destroy_user_session_path, class: "btn btn-default navbar-btn navbar-right", :method => :delete) %>
     </ul>
  <% end %>
<% else %>
  <div class="form-control" style="height:80px ; color:#1247EE ; background-color:#DEB887 ">
    <img src = "hospital.jpeg" alt="" height="60" width="60" align="left" class="img-circle">
    <center><h2><label> Online Appointment Portal</label></h2></center>
  </div>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" ><a href="/users/sign_in">Login</a></li>
    <li role="presentation"><a href="/departments">Deaprtments</a></li>
    <li role="presentation"><a href="/contact">Contact us</a></li>
  </ul>
<% end %>
