<% if user_signed_in? %>
  <% if current_user.role == 'Doctor' %>
    <header>
     <nav class="navbar navbar-default">
       <div class="form-control" style="height:80px ; color:#1247EE ; background-color:#DEB887 ">
         <img src = "<%= image_path('hospital.jpeg')%>" alt="" height="60" width="60" align="left" class="img-circle img-responsive">
         <center><h2><label>Welcome <%= current_user.name.titleize %></label></h2></center>
       </div>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li role="presentation"><a href="/doctors/<%=current_user.id %>">View Profile</a></li>
            <li role="presentation"><a href="/appointments">View Appointments</a></li>
            <li role="presentation"><a href="/appointments/history">Appointment history</a></li>
            <li role="presentation"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"navbar-right") %></li>
          </ul>
        </div>
      </div>
     </nav>
    </header>
  <% else current_user.role == 'Patient' %>
     <header>
      <nav class="navbar navbar-default">
        <div class="form-control" style="height:80px ; color:#1247EE ; background-color:#DEB887 ">
          <img src = "<%= image_path('hospital.jpeg')%>" alt="" height="60" width="60" align="left" class="img-circle img-responsive">
          <center><h2><label>Welcome <%= current_user.name.titleize %></label></h2></center>
        </div>
        <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li role="presentation"><a href="/patients/<%= current_user.id %>">View Profile</a></li>
             <li role="presentation"><a href="/appointments/new">Take Appointments</a></li>
             <li role="presentation"><a href="/appointments">Check Appointment Status</a></li>
             <li role="presentation"><a href="/appointments/history">Appointment history</a></li>
             <li role="presentation"><a href="/map">Map</a></li>
             <li role="presentation"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"navbar-right") %></li>
           </ul>
         </div>
       </div>
      </nav>
     </header>
  <% end %>
<% else %>
  <header>
   <nav class="navbar navbar-default">
     <div class="form-control" style="height:80px ; color:#1247EE ; background-color:#DEB887 ">
       <img src = "<%= image_path('hospital.jpeg')%>" alt="" height="60" width="60" align="left" class="img-circle img-responsive">
       <center><h2><label> Online Appointment Portal</label></h2></center>
     </div>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation" ><a href="/users/sign_in">Login</a></li>
          <li role="presentation"><a href="/departments">Deaprtments</a></li>
          <li role="presentation"><a href="/contact">Contact us</a></li>
        </ul>
      </div>
    </div>
   </nav>
  </header>
<% end %>
<div class="container">
